.as-bar {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-bottom: 0;
  background-color: var(--scheme-main);
  height: 45px; // 有在弹出框中应用(position: fixed), 必须指定高度；

  a,
  button,
  form {
    display: inline-flex;
    align-items: center;
    height: stretch;
  }

  .bar-title {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    flex-grow: 1;
    text-align: center;
  }
}

.as-bottom {
  margin-bottom: 0 !important;

  &:has(form),
  &:has(div) {
    background-color: var(--scheme-main);
    //box-shadow: inset #ddd 0 5px 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
