turbo-frame {
  position: relative;
  padding: 3rem 0;

  .loading {
    text-align: center;
    background-color: #ccc;
    color: darkseagreen;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 24px;
  }

  &[busy] {
    .loading {
      display: block;
    }
  }
}