:root {
  --body-overflow-y: auto;
}

body {
  background-color: #f9f9f9;

  > :last-child:has(div) {
    padding-bottom: max(env(safe-area-inset-bottom), var(--block-spacing));
  }
}

main {
  display: flex;
  flex-direction: column;

  > :last-child,
  > .button-to:not(:last-child) {
    margin-bottom: var(--block-spacing);
  }

  & > .box:first-child,
  & > .media:first-child,
  & > .fixed-grid:first-child,
  & > .card:first-child,
  & > .as-show:first-child,
  & > .as-boxed:first-child,
  & > #form_wrapper:first-child, {
    margin-top: 0.75rem;
  }
}

#weui-tab__panel {
  overflow-y: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  .has-page-grow:first-child {
    margin-top: 0.75rem;
  }
}