:root {
  --body-size: 15px;
  --primary-invert-l: var(--primary-95-l);
  --danger-invert-l: var(--danger-95-l);
  --info-invert-l: var(--info-95-l);
  --success-invert-l: var(--success-95-l);
  --block-spacing: 0.75rem;
}
