:root {
  --body-size: 15px;
  --primary-invert-l: var(--primary-95-l);
  --danger-invert-l: var(--danger-95-l);
  --info-invert-l: var(--bulma-info-95-l);
  --bulma-success-invert-l: var(--bulma-success-95-l);
  --bulma-block-spacing: 0.75rem;
}
