body,
#panel {
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  min-height: 100dvh; // 兼容 ios 视窗逻辑
}

#panel {
  height: 100vh;
}

#body,
#panel {
  overflow: auto;
  view-transition-name: main;
}

main,
#main {
  flex-grow: 1;
}

main.container {
  width: 100%;
}

.as-vertical-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.as-list {
  & > div + div {
    margin-top: 0.75rem;
  }
}
