.tabs {
  flex-shrink: 0;

  &.as-bottom {
    --tabs-toggle-link-radius: 0;
    --tabs-border-bottom-width: 0;
    overflow: visible;

    a {
      padding-top: 0;
      padding-bottom: 0;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      color: var(--grey);

      &.is-active {
        color: var(--primary);
      }

      svg + span {
        margin-left: 0;
        margin-top: 2px;
      }
    }
  }

  &.as-bottom:has(a) {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  &.as-bottom:last-child:has(a) {
    //padding-bottom: max(env(safe-area-inset-bottom), 0.75rem);
  }

  &.as-navbar {
    --tabs-border-bottom-width: 0;
    --tabs-link-padding: 0.25em 0.5em;

    justify-content: space-around;
    z-index: 2;

    a {
      background-color: #f7f7f7;
      &.is-active {
        color: var(--primary);
      }
    }
  }

  &.absolute-bottom {
    --tabs-border-bottom-width: 0;
  }

  &.is-centered {
    justify-content: center;
  }

  &.is-boxed {
    a {
      &.is-active {
        background-color: var(--tabs-boxed-link-active-background-color);
        border-color: var(--tabs-boxed-link-active-border-color);
        border-bottom-color: var(--tabs-boxed-link-active-border-bottom-color) !important;
      }
    }

    & + .box {
      border-top-left-radius: 0;
    }
  }
}