@keyframes scrollStep {
  from { transform: translateY(0); }
  to { transform: translateY(-22.5px); }
}

.animation-scroll-step {
  animation-name: scrollStep;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2);
}

.scroll-wrapper {
  box-sizing: content-box;
  height: 22.5px;
  min-height: 22.5px;
  overflow: hidden;
}
