@keyframes scrollStep {
  0% { transform: translateY(100%); }
  10% { transform: translateY(0); }  // 2s
  15% { transform: translateY(0); }  // 1s
  25% { transform: translateY(-100%); } // 2s

  100% { transform: translateY(-100%); }  // 等待 15s
}

.animation-scroll-step {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  animation-name: scrollStep;
  animation-duration: 25s;
  animation-iteration-count: infinite;
}

.scroll-wrapper {
  position: relative;
  box-sizing: content-box;
  height: 22.5px;
  min-height: 22.5px;
  overflow: hidden;

  p {
    transform: translateY(100%);
  }
}
