.left-badge,
.right-badge {
  position: relative;

  .is-badge {
    position: absolute;
    top: -0.4em;
  }
}

.left-badge {
  .is-badge {
    width: max-content;
    left: 1.5em;
  }
}

.right-badge {
  display: flex;
  padding-left: 5px;
  transform: translateX(-5px);

  .is-badge {
    right: -5px;
  }
}
