.background-transparent {
  background-color: transparent !important;
}

.background-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

.background-contain {
  background-size: contain;
  background-repeat: no-repeat;
}

.background-contain-x {
  background-size: auto 100%;
  background-repeat: repeat-x;
}

.background-contain-y {
  background-size: contain;
  background-repeat: repeat-y;
}
