.is-bordered {
  border: 1px solid darkgrey;
}

.as-boxed {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: var(--radius-large);
  box-shadow: var(--shadow);
  background-color: var(--scheme-main);
}

.has-border-primary {
  border: 1px solid var(--primary);
}

.has-border-bottom {
  border-bottom: 1px solid #ececec;
}

.has-border-top {
  border-top: 1px solid #ececec;
}

.has-border-left-primary {
  border-left: 4px solid var(--primary);
  padding-left: 0.5em;
}

.has-border-bottom-arc {
  border-radius: 0 0 80% 80%;
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}
