@use '../utilities/mixins' as mx;

.clearfix {
  @include mx.clearfix;
}

.float-left,
.pulled-left {
  float: left !important;
}

.float-right,
.pulled-right {
  float: right !important;
}

.float-none {
  float: none !important;
}

$clears: both left none right;

@each $clear in $clears {
  .clear-#{$clear} {
    clear: $clear !important;
  }
}
