@use 'shared';

%checkbox-radio {
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  position: relative;

  input {
    cursor: pointer;
  }

  &[disabled],
  fieldset[disabled] &,
  input[disabled] {
    color: shared.$input-disabled-color;
    cursor: not-allowed;
  }
}

.checkbox {
  @extend %checkbox-radio;

  .label {
    display: inline;
  }
}

.radio {
  @extend %checkbox-radio;
}

.checkboxes,
.radios {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 0.5em;
}
