.is-checked:has(input:checked) {
  --button-h: var(--primary-h);
  --button-s: var(--primary-s);
  --button-l: var(--primary-l);
  --button-background-l: var(--primary-l);
  --button-border-l: var(--primary-l);
  --button-border-width: 0px;
  --button-color-l: var(--primary-invert-l);
  --button-outer-shadow-a: 0;
}

.is-checked[disabled] {
  background-color: var(--primary);
  border-color: var(--primary);
  box-shadow: none;
}
