.label:not(:last-child) {
  margin-bottom: 0.25rem;
  font-size: 0.9em;
  font-weight: var(--weight-normal);
}

.field {
  --block-spacing: 1rem;
}

label.field {
  input + span {
    margin-left: 0.25rem;
  }
}
